<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="0876FB19-5FA5-4A73-8D0F-E689A00BD51E"
    Version="1.0"
    Publisher="CN=moi" />

  <mp:PhoneIdentity PhoneProductId="0876FB19-5FA5-4A73-8D0F-E689A00BD51E" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>New project</DisplayName>
    <PublisherDisplayName>moi</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application
      Id="com.mycompany.mybill"
      StartPage="index.html">

      <uap:VisualElements
        DisplayName="New project"
        Description="eeeee"
        BackgroundColor="#464646"
        Square150x150Logo="images\Logo.png"
        Square44x44Logo="images\square44logo.png">
		
        <uap:SplashScreen Image="images\splashscreen.png" />
		

      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
